body,
html {
    height: 100%;
    margin: 0;
    font-size: 17px;
    font-family: "Lato", sans-serif;
    font-weight: 400px;
    line-height: 1.8em;
    color: #666;
}

.pimg1 {
    position: relative;
    background-image: url('./images/img1.jpg');
    min-height: 100%;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
}

.pimg2 {
    position: relative;
    background-image: url('./images/gal1.jpg');
    min-height: 400px;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
}

.pimg3 {
    position: relative;
    background-image: url('./images/gal2.jpg');
    min-height: 400px;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
}

.pimg4 {
    position: relative;
    background-image: url('./images/gal3.jpg');
    min-height: 400px;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
}

.pimg5 {
    position: relative;
    background-image: url('./images/gal4.jpg');
    min-height: 400px;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
}

.pimg6 {
    position: relative;
    background-image: url('./images/gal5.jpg');
    min-height: 400px;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
}

.pimg7 {
    position: relative;
    background-image: url('./images/gal6.jpg');
    min-height: 400px;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
}

.pimg8 {
    position: relative;
    background-image: url('./images/gal7.jpg');
    min-height: 400px;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
}

.pimg9 {
    position: relative;
    background-image: url('./images/gal8.jpg');
    min-height: 400px;
    background-position: center center;
    opacity: 1;
    background-size: cover;
    background-attachment: fixed;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282834;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 30px;
    letter-spacing: 8px;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.border:hover {
    background-color: #000;
}